<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kaway Coffee</title>
</head>
<script src="../public/scripts/general.js"></script>   
<body>
    <script>header();</script>
    <div class=" firstFrame">
        <img class="animate__animated animate__fadeIn" style="animation-duration: 3s;" src="../public/images/photos/coffee.png"  alt="">
        <div class="animate__animated animate__fadeIn" style="animation-duration: 3s;">
            <h1>Kaway Coffee</h1>
            <p>At Kaway Coffee, coffee and joy go hand in hand. Join us on a journey where fun is guaranteed, and camaraderie is celebrated. Welcome to our cozy and exciting space, where coffee and karaoke come together in perfect harmony.
            <br><br>Come visit us and experience moments that will be etched in your memory. Kaway Coffee is the place where coffee and party come together to create unforgettable memories.</p>
        </div>
    </div>
    <div class="secondFrame">
        <div class="firstCol">
            <h1>A Sensory Journey</h1>
            <p>Our journey at Kaway Coffee begins with an exploration of the wonders of coffee.<br><br>Whether you're a lover of robust espresso, a fan of creamy cappuccino, or an adventurer thirsty for new experiences, we have the perfect cup to satisfy your discerning palate.<br><br>Each sip is an opportunity to unravel the complexity of coffee, from seed to brew.</p>
        </div>
        <div class="secondCol">
            <h1>Featured Karaoke</h1><br>
            <p>In the pulsating heart of Kaway Coffee, a realm of musical entertainment unfolds with our karaoke rooms.<br><br>
                Gather friends and family, choose your favorite songs, and unleash your voice in a private setting, where fun and entertainment reign supreme.<br><br>Whether you're a karaoke veteran or a newbie eager to try, our rooms are designed to delight everyone.</p>
        </div>        
    </div>
    <div class="thirdFrame">
        <img src="../public/images/photos/coffee2.png" width="350" height="450">
        <div>
            <h1>Flavors that Captivate</h1>
            <p>Beyond coffee, our menu presents a wealth of flavors.<br><br> Explore our cakes and fresh desserts, prepared with care and high-quality ingredients.<br><br>From classic options to exclusive creations, each bite is a celebration of flavor.</p>
            <button type="button" onclick="menuPage()">MENU</button>
        </div>
        
    </div>
    <script>footer();</script>
</body>
</html>