<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script  src="../public/scripts/general.js"></script>
    <script  src="../public/scripts/system.js"></script>
    <link  type="text/css" rel="stylesheet" href="../public/styles/system.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
<script>header();</script>
<center>
    <div class="system">
        <h2>Input to the system</h2>
        <input type="text" id="inputField">

        <button onclick="processInput()">Process</button>

        <h2>Output of the System</h2>
        <div id="outputBlock">

        </div>
    </div>
</center>
<script>footer();</script>
</body>
</html>